@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../assets/fonts/Inter-Regular400.woff) format("woff")
}

@font-face {
    font-family: Spectral;
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(../assets/fonts/Spectral-italic300.woff) format("woff")
}

@font-face {
    font-family: Spectral;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../assets/fonts/Spectral-normal400.woff) format("woff")
}

@font-face {
    font-family: Spectral;
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url(../assets/fonts/Spectral-italic800.woff) format("woff")
}
* {
    font-family: Inter,sans-serif;
    font-style: normal
}
*,::after,::before {
    box-sizing: border-box;
}